{% extends "base.html" %}
{% block content %}

<main>

<!-- ======================= 
Main Banner START -->
<section class="overflow-hidden mt-6 pt-6 pt-xxl-0">
	<div class="container-fluid mb-6">
		<div class="row g-4 g-md-5 align-items-center justify-content-between mb-xxl-n7">
			<!-- Left image side START -->
			<div class="col-lg-3 col-xl-4 col-xxl-3 d-none d-lg-block">
				<div class="row g-md-5 align-items-center ms-n6">
					<div class="col-6">
						<img src="../static/assets/images/bg/KoboToolbox.png" class="rounded-3 mt-6 mb-5" alt="">
						<img src="../static/assets/images/bg/espocrm.png" class="rounded-3" alt="">
					</div>
					
					<div class="col-6 position-relative">
						<img src="../static/assets/images/bg/RedRose.png" class="rounded-3" alt="">
						
						<!-- Svg element decoration -->
						<!-- <img src="../static/assets/images/element/17.svg" class="h-60px position-absolute top-0 start-0 ms-3 mt-n3" alt=""> -->
						
					</div>
				</div>
			</div>
			<!-- Left image side END -->
			
			<!-- Main content -->
			<div class="col-lg-6 col-xl-4 col-xxl-5 text-center position-relative">
				<!-- Title -->
				<h1 class="display-6">
					Choosing the right<br>
					<u class="underline-text nowrap">data management</u><br>
					tool for the job
				</h1>
				<p>With an array of tools and platforms to choose from, finding the right data management solution for your national society's needs can be challenging. <span class="fw-bold">We're here to help!</span></p>
				
				<!-- Buttons -->
				<div class="d-sm-flex align-items-center justify-content-center">
					<!-- Button -->
					<a href="#" class="btn btn-lg btn-danger me-2 mb-4 mb-sm-0">View Toolbox<i class="bi bi-arrow-right ms-2"></i></a>
					<!-- Video button -->
		  <div class="d-flex align-items-center justify-content-center py-2 ms-0 ms-sm-4">
			<a data-glightbox data-gallery="office-tour" href="https://www.youtube.com/watch?v=GmfydmGJZ8w" class="btn btn-lg btn-round btn-light mb-0 overflow-visible me-7"> 
			  <i class="fas fa-play"></i>
			  <h6 class="mb-0 ms-2 fw-normal position-absolute start-100 top-50 translate-middle-y">Watch video</h6>
			</a>
		  </div>
				</div>
			</div>
			
			<!-- Right image side START -->
			<div class="col-lg-3 col-xl-4 col-xxl-3">
				<div class="row g-4 align-items-center me-n4">
					<!-- Images -->
					<div class="col-4">
						<img src="../static/assets/images/bg/excel.png" class="rounded-3" alt="">
					</div>
					
					<!-- Images -->
					<div class="col-5 position-relative">
						<img src="../static/assets/images/bg/odk.png" class="rounded-3 mb-5" alt="">
						<img src="../static/assets/images/bg/121.png" class="rounded-3 mb-n1" alt="">
					</div>
					
					<!-- Images -->
					<div class="col-3">
						<img src="../static/assets/images/bg/espocrm.png" class="rounded-3 mt-7 mb-5" alt="">
						
						<!-- PLACEHOLDER FOR EXTRA TOOL ICON -->
						<!-- <img src="../static/assets/images/bg/espocrm.png" class="rounded-3 mb-n8" alt=""> -->
						
					</div>
				</div>
			</div>
			<!-- Right image side END -->
		</div>
	</div>
</section>
<!-- =======================
Main Banner END -->

<!-- =======================
Feature START -->
<section class="mt-6">

	<!-- Svg image decoration -->
	<div class="position-absolute bottom-0 end-0">
		<img src="../static/assets/images/element/30.svg" class="h-300px" alt="">
	</div>
	
	<div class="container">
		<div class="row g-4">
		

			<!-- Feature item -->
			<div class="col-sm-6 col-lg-4">
				<div class="card card-body bg-light p-4 h-100 d-flex align-items-start">
					<!-- Svg image decoration -->
					<img src="../static/assets/images/index/catalogue.svg" class="h-50px me-3 p-1 mb-2" alt="catalogue icon">
					
					<h5>Comprehensive Catalogue</h5>
					<p class="mb-0">We maintain a catalogue that covers a wide array of tools for a variety of use cases.</p>
				</div>
			</div>
			
			<!-- Feature item -->
			<div class="col-sm-6 col-lg-4">
				<div class="card card-body bg-light p-4 h-100 d-flex align-items-start">
					<!-- Svg image decoration -->
					<img src="../static/assets/images/index/decision-tree.svg" class="h-50px me-3 p-1 mb-2" alt="catalogue icon">
					
					<h5>Tool Finder</h5>
					<p class="mb-0">A self-guided tool helps translate your program design into technical requirements.</p>
				</div>
			</div>
			
			<!-- Feature item -->
			<div class="col-sm-6 col-lg-4">
				<div class="card card-body bg-light p-4 h-100 d-flex align-items-start">
					<!-- Svg image decoration -->
					<img src="../static/assets/images/index/connect.svg" class="h-50px me-3 p-1 mb-2" alt="catalogue icon">
					
					<h5>Connect with Experts</h5>
					<p class="mb-0">Find users from across the Movement that have experience with each tool.</p>
				</div>
			</div>
			

			
		</div>
	</div>
</section>
<!-- =======================
Feature END -->

{% endblock content %}