{% extends "base.html" %}
{% block content %}
<!-- =======================
Page intro START -->
<section class="bg-light py-0 py-sm-5">
	<div class="container">
		<div class="row py-2">
			<div class="col-lg-8">
				<!-- Title -->
				<h1>{{ tool_name }}</h1>
				<!-- Badge -->
				<div class="d-flex">
					<div><h6 class="mb-3 font-base bg-danger text-white py-2 px-4 rounded-2 d-inline-block me-2">Cash Operations</h6></div>
					<div><h6 class="mb-3 font-base bg-danger text-white py-2 px-4 rounded-2 d-inline-block">Beneficiary Data Management</h6></div>
				</div>
				<p>{{ tool_description }}</p>
				<!-- Content -->
				<ul class="list-inline mb-0">
					<li class="list-inline-item h6 me-3 mb-1 mb-sm-0"><i class="fas fa-star text-warning me-2"></i>X Documented Examples</li>
					<li class="list-inline-item h6 me-3 mb-1 mb-sm-0"><i class="fas fa-signal text-success me-2"></i>High Cost</li>
					<li class="list-inline-item h6 mb-0"><i class="fas fa-globe text-info me-2"></i>English, Spanish, French, Arabic</li>
				</ul>
			</div>
		</div>
	</div>
</section>
<!-- =======================
Page intro END -->

<!-- =======================
Page content START -->
<section class="pb-0 py-lg-5">
	<div class="container">
		<div class="row">
			<!-- Main content START -->
			<div class="col-lg-8">
				<div class="card shadow rounded-2 p-0">
					<!-- Tabs START -->
					<div class="card-header border-bottom px-4 py-3">
						<ul class="nav nav-pills nav-tabs-line py-0" id="tool-pills-tab" role="tablist">
							<!-- Tab item -->
							<li class="nav-item me-2 me-sm-4" role="presentation">
								<button class="nav-link mb-2 mb-md-0 active" id="tool-pills-tab-1" data-bs-toggle="pill" data-bs-target="#tool-pills-1" type="button" role="tab" aria-controls="tool-pills-1" aria-selected="true">Overview</button>
							</li>
							<!-- Tab item -->
							<li class="nav-item me-2 me-sm-4" role="presentation">
								<button class="nav-link mb-2 mb-md-0" id="tool-pills-tab-2" data-bs-toggle="pill" data-bs-target="#tool-pills-2" type="button" role="tab" aria-controls="tool-pills-2" aria-selected="false">Features</button>
							</li>
							<!-- Tab item -->
							<li class="nav-item me-2 me-sm-4" role="presentation">
								<button class="nav-link mb-2 mb-md-0" id="tool-pills-tab-3" data-bs-toggle="pill" data-bs-target="#tool-pills-3" type="button" role="tab" aria-controls="tool-pills-3" aria-selected="false">Resources</button>
							</li>
							<!-- Tab item -->
							<li class="nav-item me-2 me-sm-4" role="presentation">
								<button class="nav-link mb-2 mb-md-0" id="tool-pills-tab-4" data-bs-toggle="pill" data-bs-target="#tool-pills-4" type="button" role="tab" aria-controls="tool-pills-4" aria-selected="false">Considerations</button>
							</li>
							<!-- Tab item -->
							<li class="nav-item me-2 me-sm-4" role="presentation">
								<button class="nav-link mb-2 mb-md-0" id="tool-pills-tab-5" data-bs-toggle="pill" data-bs-target="#tool-pills-5" type="button" role="tab" aria-controls="tool-pills-5" aria-selected="false">Pricing</button>
							</li>
							<li class="nav-item me-2 me-sm-4" role="presentation">
								<button class="nav-link mb-2 mb-md-0" id="tool-pills-tab-6" data-bs-toggle="pill" data-bs-target="#tool-pills-6" type="button" role="tab" aria-controls="tool-pills-6" aria-selected="false">Contact</button>
							</li>
						</ul>
					</div>
					<!-- Tabs END -->

					<!-- Tab contents START -->
					<div class="card-body p-4">
						<div class="tab-content pt-2" id="tool-pills-tabContent">
							<!-- Content START -->
							<div class="tab-pane fade show active" id="tool-pills-1" role="tabpanel" aria-labelledby="tool-pills-tab-1">
								<!-- Course detail START -->
								<h5 class="mb-3">Tool Overview</h5>
								<p class="mb-3">RedRose is an organization with offices in London, Dublin, Abuja, and İstanbul that develops a tool of the same name. Originally released in 2015, the tool has been deployed in several contexts around the world to support cash distribution operations run by various humanitarian actors. The tool has become a popular option in the Movement, including most recently in the Ukraine and Surrounding Countries Crisis. </p>
								
								<!-- List content -->
								<h5 class="mt-4">Feature Overview</h5>
								<ul class="list-group list-group-borderless mb-3">
									<li class="list-group-item h6 fw-light d-flex mb-0"><i class="fas fa-check-circle text-success me-2"></i>FSP Integration</li>
									<li class="list-group-item h6 fw-light d-flex mb-0"><i class="fas fa-check-circle text-success me-2"></i>Registration and Beneficiary Data Management</li>
									<li class="list-group-item h6 fw-light d-flex mb-0"><i class="fas fa-check-circle text-success me-2"></i>User Profiles and Permissions</li>
									<li class="list-group-item h6 fw-light d-flex mb-0"><i class="fas fa-check-circle text-success me-2"></i>Audit Controls</li>
									<li class="list-group-item h6 fw-light d-flex mb-0"><i class="fas fa-check-circle text-success me-2"></i>Data Exports and Analytics</li>
									<li class="list-group-item h6 fw-light d-flex mb-0"><i class="fas fa-check-circle text-success me-2"></i>Supports Multiple Modalities</li>
									<li class="list-group-item h6 fw-light d-flex mb-0"><i class="fas fa-check-circle text-success me-2"></i>Data Privacy and Security</li>
								</ul>

							</div>
							<!-- Content END -->

							<!-- Content START -->
							<div class="tab-pane fade" id="tool-pills-2" role="tabpanel" aria-labelledby="tool-pills-tab-2">
								<!-- Feature accordion START -->
								<div class="accordion accordion-icon accordion-bg-light" id="featureAccordion">
									<!-- Item -->
									<div class="accordion-item mb-3">
										<h6 class="accordion-header font-base" id="feature-1">
											<button class="accordion-button fw-bold rounded d-sm-flex d-inline-block collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-1" aria-expanded="true" aria-controls="collapse-1">
												Registration and Beneficiary Data Management 
											</button>
										</h6>
										<div id="collapse-1" class="accordion-collapse collapse show" aria-labelledby="feature-1" data-bs-parent="#featureAccordion">
											<div class="accordion-body mt-3">
												<!-- Tool Feature -->
												<div class="d-flex justify-content-between align-items-center">
													<div class="position-relative d-flex align-items-center">
														
														<span class="d-inline-block  ms-2 mb-0 h6 fw-light ">The tool integrates with an Open Data Kit (ODK)-based application called RRCollection, which includes many of the features that make ODK so popular, including offline collection, GPS-tagged records, and more. The data that gets collected during registration can be processed with selection criteria, providing real-time perspective on who qualifies. Duplicate checks are possible across a number of datapoints, including biometrics.</span>
													</div>
												</div>
											</div>
										</div>
									</div>
									
									<!-- Item -->
									<div class="accordion-item mb-3">
										<h6 class="accordion-header font-base" id="heading-1">
											<button class="accordion-button fw-bold rounded d-sm-flex d-inline-block collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-2" aria-expanded="true" aria-controls="collapse-2">
												Financial Services Integration 
											</button>
										</h6>
										<div id="collapse-2" class="accordion-collapse collapse show" aria-labelledby="heading-1" data-bs-parent="#featureAccordion">
											<div class="accordion-body mt-3">
												<!-- Tool Feature -->
												<div class="d-flex justify-content-between align-items-center">
													<div class="position-relative d-flex align-items-center">
														
														<span class="d-inline-block  ms-2 mb-0 h6 fw-light ">RedRose offers a number of tools that help manage cash transfers from financial services providers, including out-of-the-box integrations with mobile money operators. The tool supports account verification, which uses a beneficiary’s data to validate bank account information. </span>
													</div>
												</div>
											</div>
										</div>
									</div>
									
									<!-- Item -->
									<div class="accordion-item mb-3">
										<h6 class="accordion-header font-base" id="heading-1">
											<button class="accordion-button fw-bold rounded d-sm-flex d-inline-block collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-3" aria-expanded="true" aria-controls="collapse-3">
												User Profiles and Permission Sets 
											</button>
										</h6>
										<div id="collapse-3" class="accordion-collapse collapse show" aria-labelledby="heading-1" data-bs-parent="#featureAccordion">
											<div class="accordion-body mt-3">
												<!-- Tool Feature -->
												<div class="d-flex justify-content-between align-items-center">
													<div class="position-relative d-flex align-items-center">
														
														<span class="d-inline-block  ms-2 mb-0 h6 fw-light ">Team members added to an instance of RedRose in a cash operation can be assigned specific permission sets which can be fully customized based on the team’s structure. These permissions also facilitate approvals for authorizing transfers. </span>
													</div>
												</div>
											</div>
										</div>
									</div>
									
									<!-- Item -->
									<div class="accordion-item mb-3">
										<h6 class="accordion-header font-base" id="heading-1">
											<button class="accordion-button fw-bold rounded d-sm-flex d-inline-block collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-4" aria-expanded="true" aria-controls="collapse-4">
												Support for Multiple Modalities 
											</button>
										</h6>
										<div id="collapse-4" class="accordion-collapse collapse show" aria-labelledby="heading-1" data-bs-parent="#featureAccordion">
											<div class="accordion-body mt-3">
												<!-- Tool Feature -->
												<div class="d-flex justify-content-between align-items-center">
													<div class="position-relative d-flex align-items-center">
														
														<span class="d-inline-block  ms-2 mb-0 h6 fw-light ">RedRose can be configured to support several different workflows and forms of cash transfer. In addition to mobile money and direct account transfers, it can also support e-vouchers and physical cards. These cards and vouchers can be topped up via multiple tranches, and support security features like PINs, biometrics, and more. </span>
													</div>
												</div>
											</div>
										</div>
									</div>
									
									<!-- Item -->
									<div class="accordion-item mb-3">
										<h6 class="accordion-header font-base" id="heading-1">
											<button class="accordion-button fw-bold rounded d-sm-flex d-inline-block collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-5" aria-expanded="true" aria-controls="collapse-5">
												Data Exports and Analytics 
											</button>
										</h6>
										<div id="collapse-5" class="accordion-collapse collapse show" aria-labelledby="heading-1" data-bs-parent="#featureAccordion">
											<div class="accordion-body mt-3">
												<!-- Tool Feature -->
												<div class="d-flex justify-content-between align-items-center">
													<div class="position-relative d-flex align-items-center">
														
														<span class="d-inline-block  ms-2 mb-0 h6 fw-light ">RedRose offers native data analytics, as well as the ability to extract raw data for teams to conduct their own analysis. There are a number of standard reports that RedRose can generate, including merchant reports that capture reconciliation, transaction summaries, account balances; participant reports covering distribution lists, balances, and post-distribution monitoring (PDM); and market overviews that show program teams information about commodity prices, market distortion, and more. RedRose support teams can build custom report types upon request, and can help connect their database with your own analytics platforms.</span>
													</div>
												</div>
											</div>
										</div>
									</div>
									
									<!-- Item -->
									<div class="accordion-item mb-3">
										<h6 class="accordion-header font-base" id="heading-1">
											<button class="accordion-button fw-bold rounded d-sm-flex d-inline-block collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-6" aria-expanded="true" aria-controls="collapse-6">
												Data Privacy and Security
											</button>
										</h6>
										<div id="collapse-6" class="accordion-collapse collapse show" aria-labelledby="heading-1" data-bs-parent="#featureAccordion">
											<div class="accordion-body mt-3">
												<!-- Tool Feature -->
												<div class="d-flex justify-content-between align-items-center">
													<div class="position-relative d-flex align-items-center">
														
														<span class="d-inline-block  ms-2 mb-0 h6 fw-light ">On top of standard username and password pairs, the tool also offers two-factor authentication via SMS or time-based tokens. Cash cards are secured with chips and can be read with near field communication (NFC) chips. Centralized device management also means RedRose can implement additional security features on Android devices, including those that prevent enumerators from utilizing any apps or tools beyond the RedRose apps. The tool is GDPR-compliant, and uses full SSL for all data in transit. Audit logs save all interactions for full transparency.</span>
													</div>
												</div>
											</div>
										</div>
									</div>


								</div>
								<!-- Course accordion END -->
							</div>
							<!-- Content END -->

							<!-- Content START -->
							<div class="tab-pane fade" id="tool-pills-3" role="tabpanel" aria-labelledby="tool-pills-tab-3">
								<!-- Card START -->
								<div class="card mb-0">
									
								</div>
								<!-- Card END -->
								
								<!-- Instructor info -->
								<h5 class="mb-3">Official Documentation</h5>
								<p class="mb-3">Insert information and links to existing official documentation here. </p>
								<h5 class="mb-3">Third Party Resources</h5>
								<p class="mb-3">Training resources, user forums, etc.</p>
							</div>
							<!-- Content END -->

							<!-- Content START -->
							<div class="tab-pane fade" id="tool-pills-4" role="tabpanel" aria-labelledby="tool-pills-tab-4">
								<!-- Tool Pros START -->
								<div class="row mb-4">
									<h5 class="mb-4">Advantages</h5>
									<ul class="list-group list-group-borderless mb-3 ps-3">
										<!-- Pro -->
										<li class="list-group-item h6 fw-light d-flex mb-0">
											<i class="fas fa-check-circle text-success me-2"></i>
											<span class="fw-bold">Stability</span>
										</li>
										<p>The tool was released in 2015, and has been actively developed since. Much of the underlying technology rests on top of a stack of open-source and/or common, industry-standard tools like ODK.</p>
										
										<!-- Pro -->
										<li class="list-group-item h6 fw-light d-flex mb-0">
											<i class="fas fa-check-circle text-success me-2"></i>
											<span class="fw-bold">Set Up Simplicity</span>
										</li>
										<p>When opting for the default cloud-based hosting, RedRose eliminates many of the technical barriers related to database configurations, data management, and data security.</p>
										
										<!-- Pro -->
										<li class="list-group-item h6 fw-light d-flex mb-0">
											<i class="fas fa-check-circle text-success me-2"></i>
											<span class="fw-bold">Supports Multiple Cash Program Steps</span>
										</li>
										<p>Many other data management solutions involve a mix of distinct tools designed to fill a specific need within the cash transfer program lifecycle. RedRose collapses many of them into a single platform, from registration to transfers to PDM.</p>
										
										<!-- Pro -->
										<li class="list-group-item h6 fw-light d-flex mb-0">
											<i class="fas fa-check-circle text-success me-2"></i>
											<span class="fw-bold">Vendor Support</span>
										</li>
										<p>RedRose is a flexible tool with a broad set of features, and is provided via a Software as a Service model. This means that RedRose provides the servers and system - including ongoing system monitoring and proactive support to ensure that the system is up and running, and that any issues are fixed within agreed timeframes. Support teams are available for at least 18 hours per day, and out of hours support is also available during emergencies. </p>
									</ul>
								</div>
								<!-- Tool Pros END -->
								
								<!-- Tool Cons START -->
								<div class="row mb-4">
									<h5 class="">Disadvantages</h5>
								</div>
								<!-- Con -->
								<li class="list-group-item h6 fw-light d-flex mb-0">
									<i class="fas fa-circle-xmark text-danger me-2"></i>
									<span class="fw-bold">System Changes Require Vendor</span>
								</li>
								<p>If there is an issue with how data is being stored in AWS or if you want to make a change to a technical aspect of the program, you need RedRose support to make the changes, which may come at a cost.</p>
								
								<!-- Con -->
								<li class="list-group-item h6 fw-light d-flex mb-0">
									<i class="fas fa-check-xmark text-danger me-2"></i>
									<span class="fw-bold">System Changes Require Vendor</span>
								</li>
								<p>If there is an issue with how data is being stored in AWS or if you want to make a change to a technical aspect of the program, you need RedRose support to make the changes, which may come at a cost.</p>
								
								
								
								
								
								<!-- Tool Cons END -->

							</div>
							<!-- Content END -->

							<!-- Content START -->
							<div class="tab-pane fade" id="tool-pills-5" role="tabpanel" aria-labelledby="tool-pills-tab-5">
								<!-- Title -->
								<h5 class="mb-3">RedRose Pricing Model</h5>
								
							</div>
							<!-- Content END -->

							<!-- Content START -->
							<div class="tab-pane fade" id="tool-pills-6" role="tabpanel" aria-labelledby="tool-pills-tab-6">
								<!-- Review START -->
								<div class="row">
									<div class="col-12">
										<h5 class="mb-4">Vendor Contact</h5>
										
										<h5 class="mb-4">Experts in the Movement</h5>


									</div>

								</div>
							</div>
							<!-- Content END -->

						</div>
					</div>
					<!-- Tab contents END -->
				</div>
			</div>
			<!-- Main content END -->

			<!-- Right sidebar START -->
			<div class="col-lg-4 pt-5 pt-lg-0">
				<div class="row mb-5 mb-lg-0">
					<div class="col-md-6 col-lg-12">
						<!-- Video START -->
						<div class="card shadow p-2 mb-4 z-index-9">
							<div class="overflow-hidden rounded-3">
								<img src="https://{{tool_image_url}}" class="card-img" alt="tool image">
								<!-- <img src="../static/assets/images/bg/redrose.png" class="card-img" alt="tool image"> -->
							</div>
		
							<!-- Card body -->

						</div>
						<!-- Video END -->

						<!-- Course info START -->
						<div class="card card-body shadow p-4 mb-4">
							<!-- Title -->
							<h4 class="mb-3">Overview</h4>
							<ul class="list-group list-group-borderless">
								<li class="list-group-item d-flex justify-content-between align-items-center">
									<span class="h6 fw-light mb-0"><i class="fas fa-fw fa-book-open text-primary"></i>Documented Examples</span>
									<span>12</span>
								</li>
								<li class="list-group-item d-flex justify-content-between align-items-center">
									<span class="h6 fw-light mb-0"><i class="fas fa-fw fa-clock text-primary"></i>Setup Speed</span>
									<span>Fast</span>
								</li>
								<li class="list-group-item d-flex justify-content-between align-items-center">
									<span class="h6 fw-light mb-0"><i class="fas fa-fw fa-signal text-primary"></i>Complexity</span>
									<span>Beginner</span>
								</li>
								<li class="list-group-item d-flex justify-content-between align-items-center">
									<span class="h6 fw-light mb-0"><i class="fas fa-fw fa-globe text-primary"></i>Localization</span>
									<span>Yes</span>
								</li>
								
							</ul>
						</div>
						<!-- Course info END -->
					</div>

					<div class="col-md-6 col-lg-12">


						<!-- Tags START -->
						<div class="card card-body shadow p-4">
							<h4 class="mb-3">Tool Feature Tags</h4>
							<ul class="list-inline mb-0">
								<li class="list-inline-item"> <a class="btn btn-outline-light btn-sm" href="#">FSP integration</a> </li>
								<li class="list-inline-item"> <a class="btn btn-outline-light btn-sm" href="#">registration</a> </li>
								<li class="list-inline-item"> <a class="btn btn-outline-light btn-sm" href="#">digital cash</a> </li>
								<li class="list-inline-item"> <a class="btn btn-outline-light btn-sm" href="#">biometrics</a> </li>
								<li class="list-inline-item"> <a class="btn btn-outline-light btn-sm" href="#">data cleaning</a> </li>
								
							</ul>
						</div>	
						<!-- Tags END -->
					</div>
				</div><!-- Row End -->
			</div>
			<!-- Right sidebar END -->

		</div><!-- Row END -->
	</div>
</section>
<!-- =======================
Page content END -->

<!-- =======================
Listed usage START -->
<section class="pt-0">
	<div class="container">
		<!-- Title -->
		<div class="row mb-4">
			<h2 class="mb-0">Usage in the Movement</h2>
		</div>

		<div class="row">
			<!-- Slider START -->
			<div class="tiny-slider arrow-round arrow-blur arrow-hover">
				<div class="tiny-slider-inner" data-autoplay="false" data-arrow="true" data-edge="2" data-dots="false" data-items="3" data-items-lg="2" data-items-sm="1">
				
					<!-- Card Item START -->
					<div class="pb-4">
						<div class="card p-2 border">
							<div class="rounded-top overflow-hidden">
								<div class="card-overlay-hover">
									<img src="../static/assets/images/element/placeholder.png" class="card-img-top" alt="course image">
								</div>
								<!-- Hover element -->
								<div class="card-img-overlay">
									<div class="card-element-hover d-flex justify-content-end"></div>
								</div>
							</div>
							<div class="card-body">
								<!-- Badge and icon -->
								<div class="d-flex justify-content-between">
									<!-- Rating and info -->
									<ul class="list-inline hstack gap-2 mb-0">

										<!-- Rating -->
										<li class="list-inline-item d-flex justify-content-center align-items-center">
											<div class="icon-md bg-warning bg-opacity-15 text-warning rounded-circle"><i class="fas fa-star"></i></div>
											<span class="h6 fw-light ms-2 mb-0">4.5</span>
										</li>
									</ul>
								</div>
								<!-- Divider -->
								<hr>
								<!-- Title -->
								<h5 class="card-title"><a href="#">Bangladesh Flood Response</a></h5>
								<!-- Badge -->
								<div class="d-flex justify-content-between align-items-center">
									<a href="#" class="badge bg-info bg-opacity-10 text-info"><i class="fas fa-circle small fw-bold me-2"></i>Bangladesh Red Crescent Society</a>
								</div>
							</div>
						</div>
					</div>	
					<!-- Card Item END -->

					<!-- Card Item START -->
					<div class="pb-4">
						<div class="card p-2 border">
							<div class="rounded-top overflow-hidden">
								<div class="card-overlay-hover">
									<img src="../static/assets/images/element/placeholder.png" class="card-img-top" alt="course image">
								</div>
								<!-- Hover element -->
								<div class="card-img-overlay">
									<div class="card-element-hover d-flex justify-content-end"></div>
								</div>
							</div>
							<div class="card-body">
								<!-- Badge and icon -->
								<div class="d-flex justify-content-between">
									<!-- Rating and info -->
									<ul class="list-inline hstack gap-2 mb-0">
					
										<!-- Rating -->
										<li class="list-inline-item d-flex justify-content-center align-items-center">
											<div class="icon-md bg-warning bg-opacity-15 text-warning rounded-circle"><i class="fas fa-star"></i></div>
											<span class="h6 fw-light ms-2 mb-0">4.5</span>
										</li>
									</ul>
								</div>
								<!-- Divider -->
								<hr>
								<!-- Title -->
								<h5 class="card-title"><a href="#">Typhoon Maria Cash Program</a></h5>
								<!-- Badge -->
								<div class="d-flex justify-content-between align-items-center">
									<a href="#" class="badge bg-info bg-opacity-10 text-info"><i class="fas fa-circle small fw-bold me-2"></i>Japanese Red Cross Society</a>
								</div>
							</div>
						</div>
					</div>	
					<!-- Card Item END -->
					
					<!-- Card Item START -->
					<div class="pb-4">
						<div class="card p-2 border">
							<div class="rounded-top overflow-hidden">
								<div class="card-overlay-hover">
									<img src="../static/assets/images/element/placeholder.png" class="card-img-top" alt="course image">
								</div>
								<!-- Hover element -->
								<div class="card-img-overlay">
									<div class="card-element-hover d-flex justify-content-end"></div>
								</div>
							</div>
							<div class="card-body">
								<!-- Badge and icon -->
								<div class="d-flex justify-content-between">
									<!-- Rating and info -->
									<ul class="list-inline hstack gap-2 mb-0">
					
										<!-- Rating -->
										<li class="list-inline-item d-flex justify-content-center align-items-center">
											<div class="icon-md bg-warning bg-opacity-15 text-warning rounded-circle"><i class="fas fa-star"></i></div>
											<span class="h6 fw-light ms-2 mb-0">4.8</span>
										</li>
									</ul>
								</div>
								<!-- Divider -->
								<hr>
								<!-- Title -->
								<h5 class="card-title"><a href="#">Mexico Earthquake Recovery Program</a></h5>
								<!-- Badge -->
								<div class="d-flex justify-content-between align-items-center">
									<a href="#" class="badge bg-info bg-opacity-10 text-info"><i class="fas fa-circle small fw-bold me-2"></i>Mexican Red Cross Society</a>
								</div>
							</div>
						</div>
					</div>	
					<!-- Card Item END -->
					
					<!-- Card Item START -->
					<div class="pb-4">
						<div class="card p-2 border">
							<div class="rounded-top overflow-hidden">
								<div class="card-overlay-hover">
									<img src="../static/assets/images/element/placeholder.png" class="card-img-top" alt="course image">
								</div>
								<!-- Hover element -->
								<div class="card-img-overlay">
									<div class="card-element-hover d-flex justify-content-end"></div>
								</div>
							</div>
							<div class="card-body">
								<!-- Badge and icon -->
								<div class="d-flex justify-content-between">
									<!-- Rating and info -->
									<ul class="list-inline hstack gap-2 mb-0">
					
										<!-- Rating -->
										<li class="list-inline-item d-flex justify-content-center align-items-center">
											<div class="icon-md bg-warning bg-opacity-15 text-warning rounded-circle"><i class="fas fa-star"></i></div>
											<span class="h6 fw-light ms-2 mb-0">4.1</span>
										</li>
									</ul>
								</div>
								<!-- Divider -->
								<hr>
								<!-- Title -->
								<h5 class="card-title"><a href="#">Bangladesh Flood Response</a></h5>
								<!-- Badge -->
								<div class="d-flex justify-content-between align-items-center">
									<a href="#" class="badge bg-info bg-opacity-10 text-info"><i class="fas fa-circle small fw-bold me-2"></i>Bangladesh Red Crescent Society</a>
								</div>
							</div>
						</div>
					</div>	
					<!-- Card Item END -->
				</div>
			</div>
			<!-- Slider END -->		
		</div>
	</div>
</section>
<!-- =======================
Listed courses END -->

{% endblock content %}